In [2]:
from google.colab import files
uploaded = files.upload()

Saving Titanic-Dataset.csv to Titanic-Dataset (1).csv

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv("Titanic-Dataset.csv")

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 3.1 Sorting and Subsetting:

Problem 1- Sorting:

In [6]:
# 1. Create dataframe called fare that contains only Fare column
fare = df[['Fare']]
print("fare.head():")
print(fare.head())

# 2. DataFrame class_age containing Pclass and Age
class_age = df[['Pclass', 'Age']]
print("\nclass_age.head():")
print(class_age.head())

# 3. DataFrame survived_gender containing Survived and Sex
survived_gender = df[['Survived', 'Sex']]
print("\nsurvived_gender.head():")
print(survived_gender.head())

fare.head():
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

class_age.head():
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

survived_gender.head():
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Problem- 2- Subsetting:

 Subsetting Rows:

In [7]:
# 1. fare_gt_100 passengers with fare > 100
fare_gt_100 = df[df['Fare'] > 100]
print("fare_gt_100.shape:", fare_gt_100.shape)
print(fare_gt_100.head())

# 2. first_class passengers with Pclass = 1
first_class = df[df['Pclass'] == 1]
print("\nfirst_class.shape:", first_class.shape)
print(first_class.head())

# 3. female_under_18 Age < 18 and Sex = female
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]
print("\nfemale_under_18.shape:", female_under_18.shape)
print(female_under_18.head())

fare_gt_100.shape: (53, 12)
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

first_class.shape: (216, 12)
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

female_under_18.shape: (55, 12)
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

Subsetting Rows by Categorical variables:

In [8]:
# 1. embarked_c_or_s
embarked_c_or_s = df[df['Embarked'].isin(['C','S'])]
print("embarked_c_or_s.shape:", embarked_c_or_s.shape)
print(embarked_c_or_s.head())

# 2. first_second_class Pclass in [1,2]
first_second_class = df[df['Pclass'].isin([1,2])]
print("\nfirst_second_class.shape:", first_second_class.shape)
print(first_second_class.head())

embarked_c_or_s.shape: (812, 12)
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

first_second_class.shape: (400, 12)
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

# 3.2 ExploratoryDataAnalysis

Which passenger had the highest fare paid relative to their age?

In [9]:
# Fill Age with median
df_age_filled = df.copy()
median_age = df_age_filled['Age'].median()
df_age_filled['Age'] = df_age_filled['Age'].fillna(median_age)

# 1. Add column fare_per_year  Fare / Age
df_age_filled['fare_per_year'] = df_age_filled['Fare'] / df_age_filled['Age']

# 2. Subset where fare_per_year hugher than 5
high_fare_age = df_age_filled[df_age_filled['fare_per_year'] > 5]

# 3. Sort descending by fare_per_year
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)

# 4. Select Name and fare_per_year
result = high_fare_age_srt[['Name', 'fare_per_year']]

# 5. Show result
print(result.head(10))

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000
827            Mallet, Master. Andre      37.004200
78     Caldwell, Master. Alden Gates      34.939759
644           Baclini, Miss. Eugenie      25.677733
469    Baclini, Miss. Helene Barbara      25.677733
831  Richards, Master. George Sibley      22.590361

Which adult male passenger(age≥18 and Sexis’male’)paid the highest fare relative to their
 class?

In [10]:
# 1. Add column fare_per_class  Fare / Pclass
df_age_filled['fare_per_class'] = df_age_filled['Fare'] / df_age_filled['Pclass']

# 2. Subset adult males: Age >= 18 and Sex == 'male'
adult_males = df_age_filled[(df_age_filled['Age'] >= 18) & (df_age_filled['Sex'] == 'male')]

# 3. Sort descending by fare_per_class
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)

# 4. Select Name, Age, fare_per_class
result_adult_males = adult_males_srt[['Name','Age','fare_per_class']]

# 5. View result (top rows)
print(result_adult_males.head(10))

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
557                 Robbins, Mr. Victor  28.0        227.5250
527                  Farthing, Mr. John  28.0        221.7792
377           Widener, Mr. Harry Elkins  27.0        211.5000
332           Graham, Mr. George Edward  38.0        153.4625
373                 Ringhini, Mr. Sante  22.0        135.6333

# 3.3 Exploratory Data Analysis with Group-by Method

 What percent of the total fare revenue came from each passenger class?

In [11]:
# 1. total fare of all passengers
total_fare = df['Fare'].sum()
print("Total fare:", total_fare)

# 2 and 3. total fare per class using groupby (safer and concise)
fare_by_class = df.groupby('Pclass')['Fare'].sum().sort_index()  # index 1,2,3
print("\nFare by class:\n", fare_by_class)

# 4. Combine totals into a list
totals_list = fare_by_class.tolist()

# 5. Proportion
fare_pct_by_class = (fare_by_class / total_fare) * 100
print("\nPercent of total fare revenue by class:\n", fare_pct_by_class.round(2))

Total fare: 28693.9493

Fare by class:
 Pclass
1    18177.4125
2     3801.8417
3     6714.6951
Name: Fare, dtype: float64

Percent of total fare revenue by class:
 Pclass
1    63.35
2    13.25
3    23.40
Name: Fare, dtype: float64

 What percent of the total number of passengers on the Titanic belonged to each age group
 (e.g., child, adult, senior)?

In [12]:
df2 = df_age_filled.copy()

# 1. Create age_group column
def age_group_label(age):
    if age < 18:
        return 'child'
    elif age >= 65:
        return 'senior'
    else:
        return 'adult'

df2['age_group'] = df2['Age'].apply(age_group_label)

# 2. Total passengers
total_passengers = len(df2)

# 3. Count per age group
counts = df2['age_group'].value_counts().sort_index()
print("Counts:\n", counts)

# 4. Proportion as percentage
pct_by_age_group = (counts / total_passengers) * 100
print("\nPercent by age group:\n", pct_by_age_group.round(2))

Counts:
 age_group
adult     767
child     113
senior     11
Name: count, dtype: int64

Percent by age group:
 age_group
adult     86.08
child     12.68
senior     1.23
Name: count, dtype: float64